<p id="contacts" xmlns="http://www.w3.org/1999/html"></p>
<div id="callPage" class="call-page">
    <div class="row">
        <div class="col-md-6 text-right">
            Local audio:
            <audio id="localAudio" controls autoplay></audio>
        </div>
        <div class="col-md-6 text-left">
            Remote audio:
            <audio id="remoteAudio" controls autoplay></audio>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button id="startBtn" class="btn-success btn">Start</button>            
            <form id="newCall">
                <input id="callToUsernameInput" type="text" placeholder="username to call" />
                <button id="callBtn" class="btn-success btn">Call</button>
            </form>
            <form method="POST" action="/endvideo?_method=PATCH">
                <input type="submit" value="hangup" id="hangUpBtn" class="btn-danger btn" />
            </form>
        </div>
    </div>
</div>
<h2>Call Logs</h2>
<h3>Dialed</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>receiver</th>
                <th>Date</th>
                <th>startTime</th>
                <th>endTime</th>
            </tr>
        </thead>
        {{#each calls}}
        <span data-feather="calls">
            <tbody>
                <tr>
                    <td>
                        {{rname}}
                    </td>
                    <td>
                        {{date}}
                    </td>
                    <td>
                        {{startTime}}
                    </td>
                    <td>
                        {{endTime}}
                    </td>
                </tr>
            </tbody>
        </span>
        {{/each}}
    </table>
</div>
<h3>Received</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>caller</th>
                <th>Date</th>
                <th>startTime</th>
                <th>endTime</th>
            </tr>
        </thead>
        {{#each recv}}
        <span data-feather="calls">
            <tbody>
                <tr>
                    <td>
                        {{cname}}
                    </td>
                    <td>
                        {{date}}
                    </td>
                    <td>
                        {{startTime}}
                    </td>
                    <td>
                        {{endTime}}
                    </td>
                </tr>
            </tbody>
        </span>
        {{/each}}
    </table>
</div>
<script src="js/aclient.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#newCall').submit(function (e) {

            e.preventDefault();

            var name = $("#callToUsernameInput").val();

            $.ajax({
                type: "POST",
                url: 'https://192.168.43.241/audio',
                data: { name },
                success: function (data) {
                    //alert('Success!');
                    console.log("Hello");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error ' + textStatus + " " + errorThrown);
                }
            });
        });
    });
</script>